.comment {
  color: #857f6b;
  font-style: italic;
}

.selector {
  color: #e69f0f;
}

.selector .key {
  color: #64d5ea;
}

.key {
  color: #64d5ea;
}

.value {
  color: #be84f2;
}

.value.px {
  color: #f92772;
}

/**
 *
 * "Well anyways, right, FizzBuzz."
 * She hesitates, presumably because of
 * your supernatural speed.
 *
 * "Um..."
 *
 */

/**
 *
 * "Is this...    <div class="glitch"><div class="center">Idris</div><div class="center">Idris</div><div class="center">Idris</div><div class="center">Idris</div></div>   ?"
 *
 */

/**
 *
 * "Well you wanted the implementation
 * to be _correct_, didn't you?"
 *
 * Humans can be so troublesome
 * sometimes. Their language,
 * so imprecise.
 *
 */

/**
 *
 * "Well yes, but..."
 *
 * "It's just that this is
 * a web dev shop. You know,
 * CSS, JS, all that."
 *
 */

/**
 *
 * "Of course, of course."
 *
 * "How foolish of me."
 *
 */

/**
 *
 * You chuckle a bit beneath
 * your breath.
 * These people clearly cannot
 * make something out of nothingness.
 *
 * After all, humans are not gods.
 *
 */
