
/**
 *
 * There's a slight buzz in the air.
 * More like a rumble,
 * the air tingling against your tympanum.
 * Some say it's the whisper of Scylla,
 * but you know better.
 *
 * Charybdis being the more likely culprit.
 *
 */

/**
 *
 * That gentle naiad's water was yet
 * untouched by some wicked potion
 * of this-or-that jealous goddess.
 * That cunning Odysseus had not
 * yet made his bargain, nor seen her fury.
 *
 */

/**
 *
 * You had always wished that
 * her beauty may have lived in a
 * crystal enclave, with every
 * unholy sailor or pirate whose lover
 * remained ashore, fixed firmly to the land,
 * dreaming of those endless seas
 * to which their heart was lost.
 *
 */

/**
 *
 * There's a pounding in the distance,
 * deep booms as were common
 * in those primordial days,
 * and a creak like the groaning
 * collapse of a topsail.
 *
 */

/**
 *
 * Those daughters of Erebus worked
 * diligently by the shore, learning
 * that art of weaving such gentle
 * thread.
 *
 * In those days they still smiled,
 * unburdened by duty. You watch
 * as they shuffle towards one
 * another, Lachesis' hands
 * spread across her wingspan.
 *
 */

/**
 *
 * Snip.
 *
 */

/**
 *
 * The waves, once gentle,
 * surge across the sand.
 * The air around you thickens
 * and burns like fire.
 *
 * You inhale sharply.
 * Your lungs fill with seawater.
 *
 */

/**
 *
 * "Thomas, right?"
 *
 */

/**
 *
 * The waves subside,
 * and a bright light stings your eyes.
 * Bright, but cold.
 *
 */

pre {
  color: slategray;
}

html {
  background: white;
}

/**
  *
  * Fluorescent.
  *
  */

/**
 *
 * A claw reaches out, no,
 * a hand.
 *
 * "I'm Alexis, I'll be interviewing you today."
 *
 * The stench of scorched earth subsides,
 * replaced by that of dry-erase markers
 * and freshly vacuumed office carpets.
 *
 * The handshake is firm, but cold.
 *
 */

/**
 *
 * "Nice to meet you," you fumble out,
 * your mind and body slowly
 * coalescing into the same epoch.
 *
 */

/**
 *
 * "Thank you so much for coming in today.
 * We're very excited to have
 * a candidate with your seniority
 * express an interest in the team."
 *
 * Those ancient tides still pulse in your ears.
 * Pulse through your fingertips.
 *
 */

/**
 *
 * "To get started,
 * we'll go through a few standard
 * technical questions," she continues,
 * "although to be quite honest,
 * from looking at your resume,
 * I'm sure you'll breeze through them."
 *
 */

/**
 *
 * The mortals around you glowed,
 * their veins throbbing with
 * fresh blood for a pious altar.
 *
 * Memories of this era returned to mind.
 *
 */

/**
 *
 * "We have a Google Doc ready
 * that you can write your code in."
 *
 */

pre:not(:empty) {
  overflow: auto;
  max-height: 80vh;
  width: 48%;
  padding: 1vh 0.5vw;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.3);
  white-space: pre-wrap;
  outline: 0;
  margin: 1vh 0.5vw;
}

#style-text {
  -webkit-transform: translateX(100%);
  position: absolute;
}

/**
  *
  * "I'm guessing this first
  * question will be _too_ easy,"
  * Alexis laughed, "but
  * we do this for every candidate;
  * to start off, I'd love for you to walk me
  * through a simple FizzBuzz implementation.
  * I'm assuming you've heard of FizzBuzz, right?"
  *
  */

/**
 *
 * Your laughter shakes the walls
 * of the exposed-brick office halls.
 *
 * That brings the warmth back!
 * An old god, pitted against a child's algorithm!
 *
 */

/**
 *
 * "I mean -- ehm of course," you say.
 * Gods must not give themselves away
 * among mortals.
 *
 */

/**
 *
 * Your eyes sting, having not adjusted
 * to the accursed lights above you.
 *
 */

body {
  background-color: #484848;
}

pre {
  color: white;
}

/**
 *
 * "Did someone just dim the lights?"
 * Alexis peeks her head into the hallway.
 *
 * The blood of antiquity instills
 * powers unknown to your judge.
 *
 */

/**
 *
 * The air around you cools, reminiscent of
 * an ocean home.
 *
 */

